* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(232, 203, 160);
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: rgb(17, 74, 66);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing {
  background-color: rgb(17, 74, 66);
  height: 500px;
  width: 120;
  border-radius: 2px 0px -30px -30px;
  perspective: 150px;
  clip-path: polygon(0 100%, 100% 80%, 100% 0, 0 0);
}

.icons {
  color: white;
  display: flex;
  gap: 20px;
  padding-right: 60px;
}

/* .nav-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding-left: 50px;
  color: white;
}

.nav-feature:hover {
  cursor: pointer;
}

.nav-elements {
}

.nav-elements:hover {
  cursor: pointer;
} */

.nav {
  margin-left: 20px;
}

.nav-elements {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  margin-right: 70px;
}

.nav-link a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-link a:hover {
  color: #0080ff;
  cursor: pointer;
}


.recipe {
  color: rgb(235, 89, 49);
}

.hero {
  font-size: 3em;
  color: white;
}

.tagline {
  color: white;
}

.left-side-hero {
  padding-left: 50px;
}

.get-start {
  padding: 10px 1.4rem;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  background-color: rgba(232, 82, 42, 1);
  color: white;
}

.get-start:hover {
  cursor: pointer;
  background-color: rgb(232, 203, 160);
  color: black;
}

.landing-page-elements {
  display: flex;
  justify-content: space-between;
}

.hero-image {
  padding-right: 50px;
}

::placeholder {
  color: #ffffff;
  font-size: larger;
}

.background {
  position: relative;
  background-image: url('https://images.pexels.com/photos/6287225/pexels-photo-6287225.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  height: 100vh;
  width: 90%;
  margin: auto;
  background-size: cover;
  background-position: center;
  margin-top: 0.5cm;
  z-index: 3;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(40%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  position: relative;
  z-index: 10;
}

.card1 {
  position: relative;
  height: 40vh;
  width: 36vh;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: 0.3s;
  border-radius: 15px;
  
}

.card1:hover {
  height: 40vh;
  width: 35vh;
  background-image: rgb(24, 3, 3);
  transform: scale(110%);
  cursor: pointer;
  background-color: rgb(232, 203, 160);
}

.achu {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  padding-top: 8px;
  z-index: 5;
}

.add-recipe {
  height: 20vh;
  color: white;
  text-align: center;
  z-index: 3;
}

.fa-solid {
  padding-top: 30px;
  font-size: 3em;
}

.fa-solid:hover {
  cursor: pointer;
}

.begin-your-journey {
  color: white;
  padding-top: 45px;
  text-align: center;
  font-weight: bold;
}

.reviews {
  text-align: center;
}

 .cook {
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
} 

.cook-smiling {
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
  padding: 30px;
  align-items: center;
  text-align: center;
}

.book:hover {
  background-color: rgb(232, 203, 160);
  color: black;
}

.line {
  max-width: 1000px;
}

.all-last-footers {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}

.contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.contact__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  padding-left: 70px;
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    height: 60px;
  }

  body {
    width: 100%;
  }

  .nav {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 0;
    margin-right: 20px;

  }

  .nav-link {
    margin-right: 0;
  }
  

  .icons {
    display: none;
  }

  .reviews {
    display: none;
    background-color: blue;
  }

  .landing {
    height: 400px;
  }

  .landing-page-elements {
    flex-direction: column;
  }

  .heroimage {
    width: 50%;
    height: 50%;
    margin-left: 100px;
    padding: 5%;
    
  }

  .hero {
    font-size: x-large;
    margin: auto;
    left: 50%;
    right: 50%;
  }


  .tagline {
    display: none;

  }

  /* Food cards */
  .cards {
    flex-direction: column;
    gap: 10px;
  }

  .card1 {
    height: 30vh;
    width: 100%;
  }

  /* Reviews */
  .cook {
    height: 80vh;
    width: 30vh;
  }

  .cook-smiling {
    height: 40vh;
    width: 40vh;
  }

}

@media (max-width: 576px) {
  /* Navbar */
  .navbar {
    height: 50px;
  }

  .nav-link {
    margin-right: 0;
    justify-content: center;
    left: 0;
  }

  .landing {
    height: 300px;
  }

  /* Food cards */
  .cards {
    gap: 5px;
  }

  .card1 {
    height: 25vh;
    width: 100%;
  }

  /* Reviews */
  .cook {
    height: 25vh;
    width: 25vh;
  }

  .cook-smiling {
    height: 30vh;
    width: 30vh;
  }

}
