
* {
    box-sizing: border-box;
}


.modal-container {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    height: 100vh;
    width: 50vw;
}

.modal-button {
    padding: 8px 16px;
    background-color: rgb(81, 72, 62);
    color: white;
    border-radius: 3px;
}

.modal {
    position: absolute;
    top: 100px;
    right: 300px;
    width: 550px;
    height: 490px;
    background: rgb(248, 241, 231);
    z-index: 99;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}