
* {
    box-sizing: border-box;
}


.modal-container {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    height: 100vh;
    width: 50vw;

}

.modal {
    position: absolute;
    top: 100px;
    right: 300px;
    width: 550px;
    height: 490px;
    background: rgb(196, 198, 198);
    z-index: 99;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}