
* {
    box-sizing: border-box;
}

.edit-recipe {
    height: 150vh;
    width: 100vh;
    margin: auto;
    background-color: rgb(17, 74, 66);
    color: rgb(250, 245, 245);
    margin-top: 5px;

}

