* {
    box-sizing: border-box;
}

.recipe {
    background-color: #ccccee;
    color: #252323;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    transition: 0.5s;
    opacity: 0;
    z-index: 3;
}

.active-recipe {
    right: -100%;
    opacity: 1;
    z-index: 99px ;
}

.recipe ol {
    padding:  1rem;
}

.recipe ol li {
    margin: 10px 0;
    padding:  0;
    text-align: left;
}

.action-btns {
    padding-bottom: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
}


.add-favorite {
    padding: 5px 5px;
    background-color: rgb(90, 186, 173);
    border-radius: 5px;
}

.delete-btn {
    padding: 5px 5px;
    background-color: rgb(90, 186, 173);
    border-radius: 5px;
}

.food-btn {
    padding: 5px 5px;
    background-color: rgb(90, 186, 173);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .recipe {
      width: 90%;
      right: 0;
      margin: 0 auto;
    }
  
    .recipe ol {
      padding: 0.5rem;
    }
  
    .recipe ol li {
      margin: 5px 0;
    }
  
    .action-btns {
      gap: 2px;
    }
  }
  