.recipeCard {
    background: white;
    width: 200px;
    height: 300px;
    border-radius: 15px;
}

.imagediv {
    height: 180px;
    width: 200px;
}

.imagediv img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 7px;
}

.detailsdiv {
    padding: 0px 10px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 10px;
}

.detailsdiv button {
    background: rgb(220, 53, 53);
    padding: 5px;
    color: white;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .recipeCard {
      width: 100%;
      height: auto;
    }

    .recipeCard {
      width: 200px;
      height: 300px;
      border-radius: 15px;
      background-color: red;
  }
  
    .imagediv {
      width: 100%;
      height: auto;
    }
  
    .detailsdiv {
      font-size: 16px;
      line-height: 8px;
    }
  }
  