.recipeCard {
    background: white;
    width: 200px;
    height: 300px;
}

.imagediv {
    height: 200px;
    width: 200px;
}

.imagediv img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.detailsdiv {
    padding: 0px 10px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 10px;
}

.detailsdiv button {
    background: rgb(220, 53, 53);
    padding: 5px;
    color: white;
}

.bottom {
    display: flex;
    justify-content: space-between;
}