.foot {
    background-color: #174A42;
    color: white;
    padding: 20px 0;
    display: none;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    width: 25%;
  }
  
  .footer-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-text {
    font-size: 16px;
  }
  
  .footer-social-media {
    list-style: none;
    padding: 0;
  }
  
  .footer-social-media-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-social-media-item i {
    font-size: 20px;
    color: white;
  }
  
  @media (max-width: 768px) {
   
   .foot {
    display: block;
    margin-top: 1300px;
   }
    .footer-container {
      flex-direction: column;
      margin: auto;
    }
  
    .footer-text {
        text-align: center;
    }
    .footer-heading {
        text-align: center;
    }
    .footer-column {
      width: 100%;
      margin: auto;
    }

    .footer-social-media {
        text-align: center;
    }
  }